.ipynb_checkpoints/
__pycache__/
*.swp
echonet.cfg
.echonet.cfg
*.pyc
echonet.egg-info/


# Steven Ufkes 2021-03-05
run_configs/
output*/
a4c-video-dir*/
*.o[0-9]* # qsub run output files.
*.e[0-9]* # qsub run error files.
